# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.venv/
env/

# IDE
.idea/
.vscode/

# Django
db.sqlite3
media/
staticfiles/
.koyeb-static-test/
.render-static-test/

# Local environment and secrets
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db
